<article{{ attributes.addClass(classes) }} class="node-full node-full-goal">
  <h1 class="node-title">{{ label }}</h1>

  {% if node.hasField('field_subdivision') %}
    <div class="node-subdivision">
      {{ content.field_subdivision }}
    </div>
  {% endif %}

  {% if node.hasField('body') %}
    <div class="node-body">
      {{ content.body }}
    </div>
  {% endif %}

</article>
