<article{{ attributes.addClass(classes) }}>
    <div class="node-teaser node-teaser-slideshow-image" style="background-image: url('{{ file_url(node.field_image.entity.fileuri) }}');">
        <div class="node-teaser-inner">

            <h2 class="node-teaser-title">{{ label }}</h2>

            {% if node.hasField('field_link') %}
                <div class="node-teaser-link">
                    {{ content.field_link }}
                </div>
            {% endif %}

        </div>
    </div>
</article>
