// |--------------------------------------------------------------------------
// | Subdivision
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .field--name-field-subdivision
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Subdivision
.field--name-field-subdivision {
  @extend .lead;
  font-size: $font-size-large;
  font-weight: $font-weight;
  border-bottom: 1px solid $border-color;
  padding: 13px 0;
  margin-bottom: 45px;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Subdivision
  .field--name-field-subdivision {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Subdivision
  .field--name-field-subdivision {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Subdivision
  .field--name-field-subdivision {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Subdivision
  .field--name-field-subdivision {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Subdivision
  .field--name-field-subdivision {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Subdivision
  .field--name-field-subdivision {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Subdivision
  .field--name-field-subdivision {}
}

// Print
@media print {

  // Subdivision
  .field--name-field-subdivision {}
}

// Touch
.touchevents {

  // Subdivision
  .field--name-field-subdivision {}
}

// No touch
.no-touchevents {

  // Subdivision
  .field--name-field-subdivision {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Subdivision mixin
@mixin field-mixin--name-field-subdivision() {}
