// |--------------------------------------------------------------------------
// | List
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .node-full
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// List
.node-full {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $border-color;
}

.node-date {
  color: $text-muted;
  font-style: italic;
}

.node-image {

  img {
    @extend .pull-right;
    border-radius: 5px;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // List
  .node-full {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // List
  .node-full {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // List
  .node-full {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // List
  .node-full {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // List
  .node-full {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // List
  .node-full {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // List
  .node-full {}
}

// Print
@media print {

  // List
  .node-full {}
}

// Touch
.touchevents {

  // List
  .node-full {}
}

// No touch
.no-touchevents {

  // List
  .node-full {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// List mixin
@mixin node-mixin-full() {}
