// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .node-teaser-slideshow-image
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.node-teaser-slideshow-image {
  display: block;
  background-position: center top;
  background-repeat: no-repeat;
  border: 0;
  height: 200px;
  min-width: 1140px;

  .node-teaser-inner {
    display: block;
    height: inherit;
    background-position: center;
    background-repeat: repeat-y;
    background-image: url('../img/slideshow-overlay.png');
    padding-top: 20px;
  }

  .node-teaser-title {

    &,
    span,
    a {
      font-size: $font-size-h1 !important;
      color: #fff !important;
    }
  }

  .node-teaser-link {
    padding-top: 20px;

    a {
      @extend .btn;
      @extend .btn-primary;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {

  // Teaser
  .node-teaser-slideshow-image {}
}

// Mobile - only
@include media-breakpoint-only(xs) {

  // Teaser
  .node-teaser-slideshow-image {}
}

// Tablet - and up
@include media-breakpoint-up(sm) {

  // Teaser
  .node-teaser-slideshow-image {}
}

// Tablet - only
@include media-breakpoint-only(sm) {

  // Teaser
  .node-teaser-slideshow-image {}
}

// Desktop - and up
@include media-breakpoint-up(md) {

  // Teaser
  .node-teaser-slideshow-image {}
}

// Desktop - only
@include media-breakpoint-only(md) {

  // Teaser
  .node-teaser-slideshow-image {}
}

// Large desktop - and up
@include media-breakpoint-up(lg) {

  // Teaser
  .node-teaser-slideshow-image {}
}

// Print
@media print {

  // Teaser
  .node-teaser-slideshow-image {}
}

// Touch
.touchevents {

  // Teaser
  .node-teaser-slideshow-image {}
}

// No touch
.no-touchevents {

  // Teaser
  .node-teaser-slideshow-image {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser mixin
@mixin node-mixin-teaser() {}
